.DS_Store

/.dev/
/.ext/
/bin/
/dist/
/vendor/

/.vscode/launch.json
/.vscode/*.code-snippets

.env
cover.out
config-dev*.yaml

VERSION.txt

# https://github.com/golang/go/issues/53502
# go.work.sum is machine specific and should not be checked in
go.work.sum
